<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
	namespace作用:
	1.namespace是Mapper映射文件的唯一标识,并且该标识不能重复.
	写法:
	2.写法上应该和接口的路径保持一致.
	3.映射文件中可以编辑sql,其中的ID必须和接口方法保持一致.
 -->
<mapper namespace="com.jt.manage.mapper.UserMapper">
	<!--如果使用注解形式,则不能使用配置文件形式,否则报错  -->
	
	
	<!--Type表示实体类对象
		property 对象中的属性
		column   数据库中的字段
	   -->
	<!-- <resultMap type="包名.User" id="aaMap">
		标识主键 
		<id  property="userId" column="user_id"/>
	
	</resultMap> -->
	
	
	
	
	
	
	
	
</mapper>